.main-view{
	display : inline;
	padding:5px;
	margin-left: 20%;


	
}
#citaitonmanager_widget .citationmanager_main_citation_info_link {
    background:url('/devwidgets/delicious/images/arrow.jpg');
    float:right;
    height:10px;
    margin-top:4px;
    width:13px;
}
.citation_view{
	padding:10px;
}
