
.citationmanager_main_menu_link {
    margin-right:10px;
	display : inline;
	padding:15px;
}

#citationmanager .citationmanager_pipe_divider{
	color:#999999;
    font-size:0.85em;
}
.citations_add{
	margin:4%;
	/*padding:10px;*/
	 padding-bottom:5px;
	 width:80%;
}


.citation_comments{
	float:left;
	padding:5px;
}


.label_class{
	float:left;
	
}
.input_class{
	float:right;
	margin:-1px;
}
.input_class_comment{
	float:right;
	margin:-1px;
	color:blue;
}

.show_comment{
	width:70%;
	float:right;
	
}

.citations_view{
	margin:4%;
	/*padding:10px;*/
	 padding-bottom:5px;
    border-bottom:3px solid #ddd;
	
}
.connotea{
	margin:4%;
	/*padding:10px;*/
	 padding-bottom:5px;
   
	
}
.user-icon{
	
}

.textarea_comment{
	width:75%;
	
}
.comments{
	
}
.error{
	color:red;
	padding:10px;
	
}
#citationmanager .comments_button1{
	float:right;
	border: 1px solid rgb(119, 136, 153); 
	padding: 0em;
}
#citationmanager #fetchfromuser .comments_button{
	float:right;
	border: 1px solid rgb(119, 136, 153); 
	padding: 0em;
}

#citationmanager .citationmanager_activeMenuItem {
    font-weight:bold;
}
#citationmanager .citationmanager_main_bookmark_info{
	padding:10px;
}
#citationmanager .ul_class{
	padding:10px;
}

#citationmanager .citationmanager_main_bookmark_info_link {
    background:url('/devwidgets/citationmanager/images/arrow.jpg');
	
    float:right;
    height:10px;
    margin-top:4px;
    width:13px;
}
#citationmanager .citationmanager_main_bookmark_info_link_comment{
	background:url('/devwidgets/citationmanager/images/comments2.jpg');
	display:inline;
    float:right;
    height:10px;
    margin-top:4px;
    width:13px;
}


#citationmanager .citationmanager_showArrowLeft {
    background-position:0 -15px;
}

#citationmanager #public_citations_view .citationmanager_main_bookmark ul a {
    display:inline;
}

#citationmanager #public_citations_view .citationmanager_main_bookmark .citationmanager_main_bookmark_info {
    margin:0 15px;
    padding:0 5px;
    border-left:2px solid #ddd;
}

#citationmanager #public_citations_view .citationmanager_main_bookmark .citationmanager_main_bookmark_info li {
    list-style:none;
}

#citationmanager .f1-fix {
    overflow:hidden;
}

#citationmanager .f1-widget .f1-widget-options .widget-options-inner {
    padding-left:0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
}

#citationmanager .f1-widget .f1-widget-options ul li {
    float:left;
    margin:0;
    padding:16px 3px 0;
}

#citationmanager .f1-widget-options #citations_pager .page-number {
    padding-left:0;
    padding-right:0;
}

#citationmanager .f1-widget-options .jq_pager1 {
margin-left:20%;
margin-right:20%;
    padding-left:7px;
}

#citationmanager .f1-widget-options #citations_pager {
    color:#666666;
    font-size:0.85em;
    font-weight:bold;
}

#citationmanager .sakai_pager li {
    background:transparent !important;
}

#citationmanager .sakai_pager li > span {
    background:none !important;
    margin-left:0;
    margin-right:0;
    padding-left:3px;
    padding-right:3px;
}

#citationmanager .sakai_pager li.dots {
    clear:none;
}


#citationmanager .delicious_main_bookmark a {
    display:block;
    padding:2px 0;
}

#citationmanager .citation_view{
padding:10px;
}

